.navbar{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 60px;

position:sticky;

top:0;

z-index:10;

background:rgba(10,10,15,.7);

backdrop-filter:blur(12px);

border-bottom:
1px solid rgba(255,255,255,.08);

}


.logo{

font-size:24px;

font-weight:700;

color:#f59e0b;

}


.nav-links{

display:flex;

gap:30px;

}


.nav-links a{

text-decoration:none;

color:#d4d4d8;

transition:.2s;

}


.nav-links a:hover{

color:#f59e0b;

}


@media(max-width:700px){

.navbar{

padding:0 20px;

}

.nav-links{

gap:15px;

font-size:14px;

}

}